name: thuvienapp
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  fl_chart: ^0.63.0

  # --- CÁC THƯ VIỆN CẦN THIẾT CHO CẢ 2 NHÁNH ---
  http: ^1.2.0
  cupertino_icons: ^1.0.6
  provider: ^6.0.0   # Quản lý trạng thái (User, Giỏ hàng)
  intl: ^0.19.0      # Định dạng ngày tháng, tiền tệ

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  # assets:
  #   - assets/images/